
kddcup.data
kddcup.data.gz
TON_IOT_Datasets
TON_IOT_Datasets/Description_stats_Network_dataset.zip
TON_IOT_Datasets/Description_stats_Network_dataset/bro_log_vars.pdf
TON_IOT_Datasets/Description_stats_Network_dataset/Network Features-Description.docx
TON_IOT_Datasets/Description_stats_Network_dataset/Network Features-Description.pdf
TON_IOT_Datasets/Description_stats_Network_dataset/Network Features-Description.xlsx
TON_IOT_Datasets/Description_stats_Network_dataset/Statistics of Network Records.docx
TON_IOT_Datasets/Description_stats_Network_dataset/Statistics of Network Records.pdf
TON_IOT_Datasets/Description_stats_Network_dataset/Statistics of Network Records.xlsx
TON_IOT_Datasets/Processed_Network_dataset.zip
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_1.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_10.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_11.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_12.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_13.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_14.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_15.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_16.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_17.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_18.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_19.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_2.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_20.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_21.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_22.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_23.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_3.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_4.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_5.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_6.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_7.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_8.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_9.csv
TON_IOT_Datasets/Train_Test_Network_dataset.zip
TON_IOT_Datasets/Description_stats_Network_dataset.zip
TON_IOT_Datasets/Description_stats_Network_dataset/bro_log_vars.pdf
TON_IOT_Datasets/Description_stats_Network_dataset/Network Features-Description.docx
TON_IOT_Datasets/Description_stats_Network_dataset/Network Features-Description.pdf
TON_IOT_Datasets/Description_stats_Network_dataset/Network Features-Description.xlsx
TON_IOT_Datasets/Description_stats_Network_dataset/Statistics of Network Records.docx
TON_IOT_Datasets/Description_stats_Network_dataset/Statistics of Network Records.pdf
TON_IOT_Datasets/Description_stats_Network_dataset/Statistics of Network Records.xlsx
TON_IOT_Datasets/Processed_Network_dataset.zip
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_1.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_10.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_11.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_12.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_13.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_14.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_15.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_16.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_17.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_18.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_19.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_2.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_20.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_21.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_22.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_23.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_3.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_4.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_5.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_6.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_7.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_8.csv
TON_IOT_Datasets/Processed_Network_dataset/Network_dataset_9.csv
TON_IOT_Datasets/Train_Test_Network_dataset.zip
